/**
* Anax Flat theme.
*/
@import url(modules.less);

/** --------------------------------------------------------------
 *  header
 */

.site-header {
    height: 80px;
}

.site-logo-text {
    float: left;
    width: 50%;
}

.profile {
    float: left;
    width: 10%;
}

.site-logo-text {
    font-size: 2em;

    a {
        text-decoration: none;
        color: #000;
    }
}

/** --------------------------------------------------------------
 *  Flash image
 */

.flash-wrap {
    img {
        max-width: 100%;
    }
}

/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    display: none;
    //position: absolute;
    //top: 70px;
    //left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}

/** --------------------------------------------------------------
 *  main
 */

.main-image {
    float: right;
    width: 40%;
    margin-left: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {

    .site-logo-text {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 700px) {

    .outer-wrap-main {
        padding: 15px;
    }

    .sidebar {
        float: none;
        width: 100%;
    }

    .main.has-sidebar {
        float: none;
        width: 100%;
    }

    .footer-column-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 500px) {
    .main-image {
        float: none;
        display: block;
        margin: auto;
        width: 80%;

    }
}
